@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Serif Bengali', serif;
    background-color: rgb(240, 240, 240);
}

.top-slider{
    background: rgb(216, 215, 213);
    height: 65px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.image img{
    width: 83%;
    display: block;
    margin-left: 115px;
    margin-right: 100px;
}

.upper-row{
    display: flex;
}

.search_btn{
    height: 42px;
    width: 50px;
    background-color: #0397d3;
    border-radius: 0 3px 3px 0;
}

.upper-row #search_bttn{
    padding-top: 10px;
    height: 32px;
    width: 50px;
}



    /*   Hearder  */

.upper-container{
    width: 100%;
    background-color: white;
    height: 70px;
    
}
.upper-box{
    width: 83%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px 15px 10px 0px;
}

.upper-row img{
    width: 110px;
    height: 40px;
}

#search-field{
    height: 42px;
    width: 600px;
    outline: none;
    border: 1px solid rgb(211, 211, 211);
    border-bottom: 2px solid orange;
    border-radius: 3px 0 0 3px ;
    margin-left: 80px;
    padding: 5px 15px;
}

#search-field:focus{
    border: 1px solid #01b3ff ;
    transition: 0.4s;
}

.cart img{
    width: 40px;
    height: 35px;
    margin-right: 10px;
    cursor: pointer;
}
.upper-row .sign-in{
    width: 80px;
    height: 37px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: bold;
    border: 1px solid rgb(34, 34, 34);
    border-radius: 7px;
    padding-left: 13px;
    padding-top: 5px;
    transition: 0.3s;
}

.upper-row .sign-in:hover{
    background-color: rgb(0, 204, 17);
    color: white;
    border: 1px solid rgb(0, 204, 17);
}

.slider-image img{
    width: 83%;
    display: block;
    margin: 20px auto;
    cursor: pointer;
}

.small-slider{
    border-radius: 5px;
}


    /* main navbar section */

.header-container{
    background-color: white;
}

.main-navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.nav-row1{
    width:83%;
}

.nav-row1 ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(11, 186, 255);
}

.nav-row1 ul li a, 
.nav-row2 ul li a, 
.nav-row3 ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px 10px 0px 10px;
}

.spacial-item{
    border: 1px solid  rgb(11, 186, 255);
    border-bottom: 2px solid  hsl(0, 0%, 92%);
}

.nav-row1 ul li a:hover, 
.nav-row2 ul li a:hover, 
.nav-row3 ul li a:hover{
    color: rgb(11, 186, 255);
}

.nav-row1 ul li a:hover{
    border: 1px solid rgb(11, 186, 255);
    border-bottom: 2px solid  hsl(0, 0%, 92%);
    transition: .2s;
}

#spacial-offer:hover{
    color: rgb(206, 71, 87);
}
.nav-row2{
    width: 83%;
    height: 50px;
    margin-top: 10px;
}

.chevron-down{
    font-weight: bolder;
    font-size: 12px;
}

.nav-row2 ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.writter-colume ul{
    display: flex;
    flex-direction: column;
}

.mega-drop-down, .mega-drop-down3{
    background-color: white;
    width: 650px;
    height: 300px;
    padding: 5px 10px;
    position: absolute;
    top: 220px;
    left: 10%;
    box-shadow: 0 6px 12px 0 rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    visibility: hidden;
}

.writter-colume:hover .mega-drop-down{
    cursor: pointer;
    visibility: visible;
}

.mega-drop-down2{
    background-color: white;
    width: 900px;
    height: 300px;
    padding: 5px 10px;
    position: absolute;
    top: 220px;
    left: 10%;
    box-shadow: 0 6px 12px 0 rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    visibility: hidden;
}

.all-subject  ul{
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.mega-drop-down3{
    width: 800px;
    height: 300px;
    padding: 10px;
}

.item-size ul li{
    font-size: 15px;
}

.see-more{
    font-size: 15px;
    color: #01b3ff;
    cursor: pointer;
}

.publisher-list ul{
    font-size: 15x;
    display: flex;
    flex-direction: column;
}

.all-subject:hover .mega-drop-down2,
.publisher-list:hover .mega-drop-down3
{
    cursor: pointer;
    visibility: visible;
}

    /* Close- main navbar section */




    /* floating reffer button */

.reffer-button{
  text-decoration: none;
  background-color: white;
  position: fixed;
  left: 20px;
  top: 50%;
  padding: 10px 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 10px 10px;
  transform: translateX(-50%) rotate(-90deg);
  color: black;
}

.reffer-button span{
    font-size: 16px;
    margin: 0 5px;
    font-weight: bold;
}

.reffer-button:hover{
    color:rgb(16, 145, 200);
    transition: 0.5s;
}





/*   Book Fair Award Section     */


.fair-container{
    width: 83%;
    height: 600px;
    margin: 0 auto;
}

.book-fair-image img{
    display: block;
    margin: 20px auto;
}

.award-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
    
    .award-box{
        height: 480px;
        width: 330px;
        padding: 8px 8px;
        background-color:rgb(140, 205, 245);
        border-radius: 2px;
        text-align: center;
        margin: 5px 10px;
    }
    
    .award-box2{
        background-color:rgb(249, 184, 120);
    }
    
    .award-box img{
        margin: 12px;
    }
    
    #dhormio-book{
        margin: 10px;
    }
    .type-button{
        text-decoration: none;
        display: inline-block;
        height: 40px;
        width: 80px;
        margin-top: 15px;
        padding: 8px;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        color: rgb(0, 77, 77);
        border-top: 2px solid rgb(0, 157, 255);
        border-radius: 3px 3px 0px 0px;
        background-color: rgb(221, 242, 255); 
    }
    
    .right-type-bttn{
        border-top: none;
        background-color: rgb(232, 255, 255);  
    }
    
    .type-button2{
        color: rgb(249, 184, 120);
        border-top: 2px solid rgb(249, 184, 120);
        background-color: rgb(255, 243, 232);
    }
    
    .selector-bg{
        width: 100%;
        height: 70px;
        background-color: rgb(233, 246, 255); 
    }
    
    .selector-bg2{
        background-color: rgb(255, 242, 231);
    }
    
    .middle-box{
        height: 395px;
        width: 300px;
        background-color: white;
        margin: 0 auto;
        border-radius: 2px;
        position: relative;
    }

    .fair-button{
        position: absolute;
        bottom: 15%;
        left: 63%;
    }
    
    .view-all-book{
        text-decoration: none;
        padding: 6px 10px;
        color: rgb(3, 151, 211);
        font-size: 15px;
        border: 1px solid rgb(3, 151, 211);
        box-shadow: 0px 3px 6px -4px rgb(162, 162, 162);
        border-radius: 2px;
    }
    
    .view-all-book:hover{
        color:white ;
        transition: .4s;
        background-color: rgb(3, 151, 211);
        border-color: rgb(139, 196, 234);
    }
    
    #all-in-books{
        margin: 15px 0px 5px 0px;
        padding: 2px 5px;
        width: 250px;
        height: 22px;
        outline: none;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 1px;
        cursor: pointer;
    }
    
    .today-button{
        text-decoration: none;
        display: inline-block;
        margin: 6px 10px 1px 0px;
        font-size: 12px;
        color: black;
    }
    
    .today-bottom{
        border-bottom: 2px solid rgb(0, 192, 192);  
    }
    
    .book-list{
        padding: 10px;
        vertical-align: middle;
        cursor: pointer;
    }
    
    .book-list p{
        margin-bottom: 8px;
    }

    .book-list img{
        width: 35px;
        height: 50px;
        margin: 2px 0px;
        cursor: pointer;
    }
    
    .award-details{
        margin: 10px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .award-details p{
       font-size: 15px;
    }
    
    .award-details span{
       font-size: 10px;
       color: rgb(59, 59, 59);
    }

    /* Close- Book Fair Award */




.cointainer{
    width: 83%;
    height: 400px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 4px 6px -3px rgb(156, 156, 156);
    margin: 20px auto 30px auto;
}

.category-container{
    height: 215px;
}

.box-container{
    display: flex;
}

.cointainer-title{
    font-size: 28px;
    padding: 15px 0px 0px 30px;
}

.category-box{
    width: 22%;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.category-box img{
    display: block;
    margin: 15px auto;
    width: 160px;
    height: 105px;
}

.category-box p{   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    padding: 15%;
}




/*    Category Hover Button    */

.button-container{
    width: 80%;
    margin: 0 auto;
}

.category-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.category-button .bttn{
    height: 60px;
    width: 250px;
    font-size: 18px;
    margin: 3px 5px 15px 5px;
    border: 1px solid #01b3ff ;
    border-radius: 6px;
    background: -webkit-linear-gradient(0deg,transparent 50%,#0397D4 50%);
    background-size: 600px 50px;
    background-color: rgb(227, 250, 250) ;
    transition: 0.6s;
}

.category-button .bttn:first-child{
    margin-left: -22px;
}

.category-button .bttn:last-child{
    margin-right: -22px;
}

.category-button .bttn:hover{
     background-position: 300px 0;
     color: white;
     cursor: pointer;
}



    /* book product container */
    
.book-box, .product-box{
    padding: 10px 10px;
    width: 25%;
    height: 300px;
    text-align: center;
    border: 2px solid transparent;
    position: relative;
}

.product-box{
    height: 350px;
}

.book-box:hover, .product-box:hover{
    border: 2px solid rgb(200, 200, 200);
    transition: 0.5s;
    cursor: pointer;
}
.book-image img, .product-image img{
    height: 186px;
    width: 130px;
}

.view-all-book{
    text-decoration: none;
    text-align: center;
    height: 38px;
    width: 80px;
    color: rgb(3, 151, 211);
    font-size: 15px;
    border: 1px solid rgb(3, 151, 211);
    box-shadow: 0px 3px 6px -4px rgb(162, 162, 162);
    border-radius: 2px;
    padding: 6px 10px;
    position: absolute;
    right: 11%;
}

.view-all-book:hover{
    color:white ;
    transition: .4s;
    background-color: rgb(3, 151, 211);
    border-color: rgb(139, 196, 234);
}





/*   Product Hover Overlay  */

.overlay-effect, .hover-effect{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.829);
    box-shadow: inset 0px 0px 10px 0px rgba(255, 255, 255, 0.712);
    display: none;
}

.floating-effect a, .view-details a, 
.hover-effect a, .view-details-bttn a{
    text-decoration: none;
    font-size: 18px;
    padding: 8px 10px;
}

.floating-effect a, .hover-effect a{
    padding: 13px 10px;
}

.add-to-cart, .add-to-cart-bttn{
    width: 62%;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    border-radius: 3px;
    color: white;
    background-color: rgb(254, 154, 0);
    box-shadow: 0px 3px 6px -4px rgb(202, 202, 202);
    display: none;
    transition: 0.5s;
}
    

.add-to-cart:hover, .add-to-cart-bttn:hover{
    background-color: rgb(253, 169, 42);
    transition: 0.5s;
}

.view-button, .view-bttn{
    width: 100%;
    font-weight: bold;
    color: white;
    background: rgb(0, 149, 248);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 6px 12px;
    text-align: center;
    display: none;
    cursor: pointer;
    transition: all 0.4s;
}

.view-button:hover, .view-bttn:hover{
    background: rgb(54, 170, 247);
}

.book-box:hover .overlay-effect, .book-box:hover .add-to-cart, .book-box:hover .view-button,
.product-box:hover .hover-effect, .product-box:hover .add-to-cart-bttn, .product-box:hover .view-bttn
  {
    display: block;
  }

/*   CLose- Product Hover Overlay  */




/*     Book Product List      */

.book-name, .product-name{
    font-size: 15px;
    font-weight: bold;
}

.book-author-name, .store-name{
    font-size: 14px;
    color: rgb(105, 105, 105);
    padding: 5px 0px;
}

.book-price del, .product-price del{
    color: darkgrey;
    font-size: 15px;
}

.book-price p, .product-price p{
    font-size: 15px;
    font-weight: bold;
}

.book-cointainer, .rokomari-product{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.category-title span{
    font-size: 17px;
    color: rgb(105, 105, 105);
}

/*     Close- Book Product List      */




/*       Rokomari Products      */

.product-cointainer{
    width: 83%;
    height: 450px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 4px 6px -3px rgb(156, 156, 156);
    margin: 20px auto 30px auto;
}

.stock-status{
    color: rgb(0, 231, 19);
    padding: 0px 0px 5px 0px;
}

/*       Close- Rokomari Products       */




    /* Weekly TOp Authors */

.author-container, .subscribe-box{
    width: 83%;
    height: 300px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 4px 6px -3px rgb(156, 156, 156);
    margin: 20px auto 30px auto;
}

.author-box{
    padding: 5px 10px;
    width: 25%;
    height: 220px;
    text-align: center;
    border: 2px solid transparent;
    position: relative;
}

.author_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.author-image img{
    height: 120px;
    width: 120px;
    cursor: pointer;
}

.author_name{
    font-size: 15px;
    cursor: pointer;
}

.author_name:hover{
    color: rgb(0, 132, 255);
}



.subscribe-box{
    height: 160px;
    text-align: center;
    position: relative;
}

.sub-title{
    font-size: 25px;
    padding: 20px;
}

#sub-email-field{
    height: 2.6rem;
    width: 43rem;
    outline: none;
    border: 1px solid rgb(185, 185, 185);
    border-bottom: 1px solid rgb(185, 185, 185);
    border-radius: 3px;
    margin-left: 80px;
    padding: 5px 15px;
    position: absolute;
    left: 8%;
}

#sub-email-field:focus{
    box-shadow: 0px 0px 7px rgb(0, 132, 255);
    transition: 0.4s;
}

#sub-bttn{
    display: inline-block;
    text-decoration: none;
    color:rgb(0, 132, 255);
    background-color: rgb(244, 250, 255);
    font-weight: bold;
    border: 1px solid rgb(0, 132, 255);
    border-radius: 5px;
    padding: 7px 13px;
    transition: 0.3s;
    position: absolute;
    right: 14%;
}

#sub-bttn:hover{
    color:white;
    background-color: rgb(0, 132, 255);
}

.bottom-container{
    width: 83%;
    height: 40px;
    margin: 20px auto 30px auto;
    display: flex;
    justify-content: space-between;
}

.bottom-box img{
    height: 34px;
    width: 34px;
    margin: 0 10px;
}

.bottom-box{
    display: flex;
}

.bottom-box .text-tiltle{
    font-size: 15px;
    word-spacing: 1px;
}

.bottom-box .text-decription{
    color: rgb(63, 63, 63);
    font-size: 14px;
    word-spacing: 1px;
}




footer{
   color: rgb(51, 51, 51);
}

.footer-container{
    height: 650px;
    width: 100%;
    background-color: white;
}

.footer-top{
    width: 83%;
    margin: 0 auto;
    padding: 20px 0px;
    display: flex;
}

.developer-logo img{
    padding: 10px 0;
}

.contact-us img {
    margin-right: 8px;
}

.contact-us{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contact-us a{
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-weight: bold;
}

.contact-us span{
    margin-right: 10px;
}

.social-media{
    display: flex;
}

.social-media img{
    width: auto;
    height: 22px;
    width: auto;
    margin-right: 4px;
}

.quick-link-container{
    display: flex;
    justify-content: space-between;
}

.quick-links, .quick-links ul{
    padding: 0px 20px;
    list-style-type: circle;
}

.quick-links li a{
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-size: 12px;
}


.link-container{
    width: 50%;
}

.download_icon{
    display: flex;
}

.download_bttn img{
    width: 125px;
    vertical-align: middle;
}

.rokomari-download{
    display: flex;
}

.rokomari-download h3{
    padding-left: 10px;
    padding-top: 15px;
    font-size: 120%;
}

.footer-right img{
    margin: 10px 0;
}



.pay-method{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;}

.pay-method img{
    margin: 0px 5px 5px 10px;
    max-height: 32px;
    max-width: 60px;
}

.rokomari-desclaimer{
    text-align: center;
    line-height: 25px;
    padding: 15px 15px 10px 15px;
}

.rokomari-copyright{
    text-align: center;
    padding: 15px 0px;
    background-color: rgb(240, 240, 240);
    font-size: 14px;
}